name: Heart Disease detector CICD pipeline

env:
  SERVICE_NAME: heart-disease-detector
  RAILWAY_PROJECT_ID: ${{ secrets.RAILWAY_PROJECT_ID }}
  RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Train the model (Onlining)
        run: python assets/heart_disease_diagnosis_model.py
      - name: Test Prediction of the model 
        run: python model.py

      - name: Run Tests
        run: pytest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Railway CLI
        run: |
          curl -fsSL https://railway.app/install.sh | bash
          echo "Configuring Railway CLI with the token..."
          mkdir -p ~/.railway
          echo ${{ secrets.RAILWAY_TOKEN }} > ~/.railway/token

      # Build Docker image for Flask app
      - name: Build Docker image
        run: |
          docker build -t heart-disease-detector:latest .

      # Deploy to Railway using Docker image
      - name: Deploy to Railway using Docker image
        run: |
          railway up --environment production
